<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="XFiles-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>xfiles-derby</jta-data-source>
    <class>in.xfiles.core.entity.ActionTypes</class>
    <class>in.xfiles.core.entity.Encryptionfiles</class>
    <class>in.xfiles.core.entity.Files</class>
    <class>in.xfiles.core.entity.Groups</class>
    <class>in.xfiles.core.entity.Messages</class>
    <class>in.xfiles.core.entity.PasswordStorage</class>
    <class>in.xfiles.core.entity.Types</class>
    <class>in.xfiles.core.entity.UserSession</class>
    <class>in.xfiles.core.entity.UsersPasswords</class>
    <class>in.xfiles.core.entity.Sequence</class>
    <class>in.xfiles.core.entity.User</class>
    <class>in.xfiles.core.entity.Log</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
    </properties>
  </persistence-unit>
</persistence>
